# -----------------------------------------------------------------------
# Flutter/Dart
# -----------------------------------------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.fvm/

# Symbolication related
app.*.symbols
app.*.map.json

# -----------------------------------------------------------------------
# Android
# -----------------------------------------------------------------------
*.keystore
*.jks
*.p12
*.key
*.user
local.properties
**/*.keystore
**/*.jks

# Android Studio
.idea/
*.iml
*.ipr
*.iws

# -----------------------------------------------------------------------
# iOS/macOS
# -----------------------------------------------------------------------
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/App.podspec
macos/Flutter/ephemeral/

# CocoaPods
**/Pods/
**/Podfile.lock

# -----------------------------------------------------------------------
# Visual Studio Code
# -----------------------------------------------------------------------
.vscode/
!.vscode/launch.json
!.vscode/tasks.json

# -----------------------------------------------------------------------
# Web
# -----------------------------------------------------------------------
.last_build_id
/build/web/

# -----------------------------------------------------------------------
# Environment Variables & Sensitive Info
# -----------------------------------------------------------------------
.env*
!.env.example

# -----------------------------------------------------------------------
# OS Generated
# -----------------------------------------------------------------------
.DS_Store
Thumbs.db